@charset "UTF-8";

/* Variáveis */

:root {
    --red-dark: rgb(90, 0, 0);
    --red-light: rgb(148, 0, 0);
}

/* General */

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border-width: 0;
    white-space: nowrap;
}

/* Navbar */

nav#navbar {
    top: 0;
    padding: 0 4em;
    width: 100%;
    position: fixed;
    box-shadow: 0px .5px 10px var(--red-dark);
    z-index: 1003;
    background-color: #fff;
}

nav#navbar ul {
    list-style: none;
    text-transform: uppercase;
    padding: 0;
    margin: 1em 0;
}

nav#navbar li {
    position: relative;
    display: inline-block;
    padding: 5px 15px;
    color: var(--red-dark);
    border: none;
    cursor: pointer;
}

nav#navbar li:hover {
    color: var(--red-light);
}

nav#navbar li:after {
    content: "";
    position: absolute;
    height: 3px;
    width: 0;
    background: var(--red-light);
    left: 0;
    bottom: -3px;
    transition: .5s;
}

nav#navbar li:hover:after  {
    width: 100%;
}

nav#navbar li.active:after {
    width: 100%;
    background-color: var(--red-dark);
}

nav#navbar li.active:hover {
    color: var(--red-dark);
}

nav#navbar a#btn_logout {
    margin-left: 10px;
    text-decoration: none;
    background-color: var(--red-dark);
    padding: .6em 1em;
    color: #FFF;
    border-radius: 30px;
    transition: all .3s ease-in-out;
}

nav#navbar a#btn_logout:hover {
    background-color: var(--red-light);
    transform: scale(1.1);
    box-shadow: 1px 3px 5px var(--red-dark);
}

i.icon_menu {
    display: none;
}

/* Body do site */

html {
    width: 100%;
    height: 100%;
}

body#full_content_login {
    width: 100%;
    height: 100%;
    background: url('../_images/back_cadastro.jpg') no-repeat 50% 50%;
    background-size: cover;
    backdrop-filter: blur(4px);
}

/* Main da página Index */

main#main_index {
    margin-top: 9em;
    flex-wrap: wrap;
}

div#status_request {
    margin-top: 1em !important;
    width: 95%;
    display: none;
}

.status_accept {
    color: rgb(0, 96, 22) !important;
    background-color: rgb(135, 248, 161) !important;
    border-color: rgb(0, 165, 38) !important;
}

i#close_status {
    cursor: pointer;
}

div#alter_view {
    width: 90dvw;
    justify-content: flex-end !important;
}

.icons_view {
    font-size: 23pt;
    cursor: pointer;
    padding: 10px;
    color: var(--red-dark);
    transition: all .3s ease-in-out;
    border: 3px solid var(--red-dark);
}

.icon_table {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.icon_ret {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.icons_view:hover {
    background-color: var(--red-dark);
    color: #FFF;
}

.active_view {
    background-color: var(--red-dark);
    color: #FFF;
}

.table-responsive {
    color: var(--red-dark);
}

div#section_users, div#section_emps {
    flex-wrap: wrap;
}

.transition_section {
    animation: transition_section .5s linear forwards;
}

.back_section {
    animation: back_section .3s linear forwards;
}

@keyframes transition_section {
    0% { opacity: 0; display: flex;}
    25% { opacity: .25; }
    50% { opacity: .5; }
    75% { opacity: .75; }
    100% { opacity: 1; }
}

@keyframes back_section {
    0% { opacity: 1; }
    25% { opacity: .75; }
    50% { opacity: .5; }
    75% { opacity: .25; }
    100% { opacity: 0; display: none; }
}

div.title_sections {
    margin-bottom: 4em;
}

h1.h1_sections {
    font-size: clamp(12pt, 2dvw, 24pt);
    text-transform: uppercase;
    color: var(--red-dark);
    text-align: center;
}

.line {
    height: 3px;
    border-radius: 100px;
    background-color: var(--red-dark);
}

div.card_register {
    color: var(--red-dark);
    text-transform: uppercase;
    text-align: center;
    background-color: #FFF;
    margin: 4.5em 0;
    box-shadow: 0 4px 10px var(--red-dark);
    border-radius: 30px;
    position: relative;
}

div.card_register p {
    font-size: clamp(10pt, 14pt);
    padding: 0 2em;
    margin: 0 0 .6em 0;
}

div.card_register i.icons_cards {
    border-radius: 10px;
    font-size: 18pt;
    padding: 10px;
    color: #FFF;
    background-color: var(--red-light);
    border: 3px solid var(--red-light);
    cursor: pointer;
    transition: all .3s ease-in-out;
}

div.card_register i.icon_trash {
    margin-right: .3em;
}

div.card_register i.icon_trash:hover {
    background-color: #FFF;
    color: var(--red-light);
}

div.card_register i.icon_edit {
    background-color: rgb(0, 140, 255);
    border-color: rgb(0, 140, 255);
    margin-left: .3em;
}

div.card_register i.icon_edit:hover {
    background-color: #FFF;
    color: rgb(0, 140, 255);
}

.card_register details {
    overflow: hidden;
    max-height: 30px;
}

.card_register details[open] {
    max-height: 250px;
    transition: all .3s ease-in-out;
}

.back_card {
    animation: back_card .3s ease-in;
    animation-fill-mode: forwards;
}

.transition_card {
    animation: transition_card .3s ease-in;
    animation-fill-mode: forwards;
}

@keyframes transition_card {
    0% { transform: scale(1); box-shadow: 0 4px 10px var(--red-dark); z-index: 1000; }
    100% { transform: scale(1.1); box-shadow: 0 8px 18px var(--red-dark); z-index: 1001; }
}

@keyframes back_card {
    0% { transform: scale(1.1); box-shadow: 0 8px 18px var(--red-dark); z-index: 1001; }
    100% { transform: scale(1); box-shadow: 0 4px 10px var(--red-dark); z-index: 1000; }
}

img.img_user_emp {
    position: absolute;
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    top: 0;
    transform: translateY(-70%);
    box-shadow: 1px 3px 9px var(--red-dark);
}

div.card_user_body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Aside da Index */

aside#aside_index {
    top: 5.5em;
    position: fixed;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 1px 1px 9px var(--red-dark);
    background: #FFF;
    transform: translateX(-110%);
    z-index: 1002;
}

aside#aside_index div {
    margin-top: 2em;
    width: 100%;
    padding: 10px 5px;
    border-bottom: 1px solid var(--red-dark);
    color: var(--red-dark);
}

aside#aside_index div h1 {
    text-transform: uppercase;
    text-align: center;
    font-size: clamp(12pt, 2dvw, 20pt);
    margin-right: .7em;
}

aside#aside_index div i {
    width: 10px;
}

aside ul#lst_filtros {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    text-transform: uppercase;
    padding: 0;
}

aside#aside_index ul li {
    padding: 10px 5px;
    color: var(--red-dark);
    border-bottom: 1px solid var(--red-dark);
    cursor: pointer;
    transition: all .2s ease-in-out;
    width: 100%;
    text-align: center;
}

aside#aside_index ul li:hover {
    color: var(--red-light);
    border-bottom: 1px solid var(--red-light);
}

.input-wrapper {
    position: relative;
}

input#search {
    width: 100%;
    outline: 0;
    border-radius: 10px;
    padding: .3em;
    border: 2px solid var(--red-dark);
    color: var(--red-dark);
    transition: all .2s ease-in-out;
}

input#search:focus {
    background-color: rgba(133, 133, 133, 0.15);
}

.active_filtro {
    border-bottom: 3px solid var(--red-dark) !important;
    font-weight: 600;
    transition: all .2s ease-in-out;
}

.active_filtro:hover {
    border-bottom: 3px solid var(--red-dark) !important;
    color: var(--red-dark) !important;
}

/* Footer da Index */

footer#footer_index {
    padding-top: 2em;
    background-color: rgba(223, 223, 223, 0.2);
    color: var(--red-dark);
}

.div_footer {
    padding: 1em 3em;
}

.div_footer p {
    text-align: justify;
}

div#infos {
    border-right: 3px solid var(--red-dark);
    border-left: 3px solid var(--red-dark);
}

div#icons_footer {
    padding-top: 1em;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-wrap: wrap;
}

a.a_icons {
    text-decoration: none;
    color: var(--red-dark);
    transition: all .3s ease-in-out;
}

a.a_icons:hover {
    color: var(--red-light);
    transform: scale(1.1);
}

i.icons_rs {
    font-size: 20pt;
    cursor: pointer;
    margin-right: 1em;
}

.footer_name {
    margin-top: 2em;
    border-top: 1px solid var(--red-dark);
    padding: 1em 0;
}

/* Btn adicionar e Btn filtros */

a#btn_adicionar, p#btn_filtros {
    border-radius: 50%;
    width: 70px;
    height: 70px;
    position: fixed;
    z-index: 1002;
    bottom: .7em;
    right: .7em;
    background-color: var(--red-dark);
    color: #FFF;
    transition: all .3s ease-in-out;
}

p#btn_filtros {
    margin: 0;
    cursor: pointer;
    left: .7em;
}

a#btn_adicionar:hover, p#btn_filtros:hover {
    background-color: var(--red-light);
    text-decoration: none;
    transform: scale(1.1);
}

i#add_symbol, i#filter_symbol {
    font-size: 25px;
    font-weight: 900;
}

/* Main da página de Login */

main#main_login {
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, .8);
}

h1#title_login {
    font-size: clamp(28px, 4dvw, 44px);
    color: var(--red-dark);
    font-weight: 600;
}

div#form_login {
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0 6px 26px 0 var(--red-dark);
    position: relative;
    width: 35dvw;
    height: auto;
    border-radius: 50px;
    flex-direction: column;
    padding: 8em 0;
}

form#form div {
    margin: .6em;
}

#user_field, #password_field {
    display: flex;
    flex-direction: column;
}

#password_field label, #user_field label {
    font-size: clamp(16px, 4dvw, 20px);
    color: var(--red-dark);
    transform: translateY(30px);
}

.transition_text {
    animation: transition_text .2s linear;
    animation-fill-mode: forwards;
}

@keyframes transition_text {
    0% { transform: translateY(30px); }
    50% { transform: translateY(15px); }
    100% { transform: translateY(0); }
}

.back_text {
    animation: back_text .2s linear;
    animation-fill-mode: forwards;
}

@keyframes back_text {
    0% { transform: translateY(0); }
    50% { transform: translateY(15px); }
    100% { transform: translateY(30px); }
}

form#form input {
    width: 25dvw;
    z-index: 1001;
    color: var(--red-dark);
    background-color: transparent;
    border: none;
    border-bottom: 3px solid var(--red-dark);
    outline: 0;
    transition: all .3s ease-in-out;
}

form input::-ms-reveal, form input::-ms-clear {
    display: none;
}

i.icons {
    font-size: 15pt;
    float: right;
    transform: translateY(-38px);
    transition: color .2s ease-in;
    color: var(--red-dark);
}

i.eye-password {
    cursor: pointer;
}

i.eye-password:hover {
    color: var(--red-light);
}

div.error_status {
    margin-top: -2em !important;
    margin-bottom: 1.3em !important;
    color: var(--red-dark);
    padding: .8em;
    background-color: rgb(248, 135, 135);
    border: 2px solid var(--red-light);
    border-radius: 20px;
    justify-content: space-between;
}

input#btn_login {
    width: 10dvw !important;
    cursor: pointer;
    color: #fff !important;
    background-color: var(--red-dark) !important;
    padding: 5px;
    border: none !important;
    border-radius: 40px;
    transition: all .3s ease-in;
}

input#btn_login:hover {
    background-color: var(--red-light) !important;
    transform: scale(1.1);
    box-shadow: 1px 6px 8px var(--red-dark);
}

/* details#details_login {
    margin-top: 1em;
    display: flex;
    color: var(--red-dark);
} */

img#img_logo {
    opacity: .05;
    position: absolute;
    width: 30dvw;
    animation: rodaroda 20s linear infinite;
}

@keyframes rodaroda {
	0% { -webkit-transform:rotate(0deg); -moz-transform:rotate(0deg); -ms-transform:rotate(0deg); -o-transform:rotate(0deg); transform:rotate(0deg); }
	50% { -webkit-transform:rotate(180deg); -moz-transform:rotate(180deg); -ms-transform:rotate(180deg); -o-transform:rotate(180deg); transform:rotate(180deg); }
	100% { -webkit-transform:rotate(360deg); -moz-transform:rotate(360deg); -ms-transform:rotate(360deg); -o-transform:rotate(360deg); transform:rotate(360deg); }
}

/* Main da Cadastro */

body#full_content_cadastro {
    width: 100%;
    height: 100%;
    background-color: var(--red-dark);
}

body#full_content_cadastro input {
    text-transform: uppercase;
}

main#main_cadastro {
    position: relative;
    color: var(--red-dark);
    border-radius: 40px;
    padding: 0;
    box-shadow: 10px 10px 20px #000;
    justify-content: space-between;
    background: url('../_images/back_cadastro.jpg') no-repeat;
    background-size: cover;
}

div#seta_index {
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, .2);
    backdrop-filter: blur(5px);
    border-radius: 40px;
}

div#cadastro_emp {
    display: none;
    border-radius: 0;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
}

div#cadastro_user {
    display: flex;
}

div#call_another_form {
    flex-direction: column;
    padding: 1em;
}

div#call_another_form h1 {
    color: #FFF;
    text-align: center;
    padding: 0 .5em;
    margin-bottom: 2em;
}

i#seta_cadastro, i#back_index {
    color: #FFF;
    background-color: rgba(0, 0, 0, .3);
    box-shadow: 1px 8px 15px rgba(255, 255, 255, .5);
    backdrop-filter: blur(2px);
    width: 70px;
    height: 70px;
    border-radius: 50%;
    font-size: 30pt;
    cursor: pointer;
}

i#seta_cadastro {
    transition: transform .3s ease-in-out;
}

i#back_index {
    border-radius: 0;
    border-top-left-radius: 40px;
    border-bottom-right-radius: 40px;
    width: 90px;
    box-shadow: none;
    position: absolute;
    top: 0;
    transition: width .2s linear;
}

i#back_index:hover {
    width: 70px;
}

i#seta_cadastro:hover {
    transform: scale(1.1);
}

div.cadastro {
    flex-direction: column;
    padding: 2em 0;
    background-color: #ffffff;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
}

div.cadastro h1 {
    text-align: center;
    margin-bottom: .5em;
}

form.form_cadastro {
    width: 100%;
    padding: 0 6em;
}

form.form_cadastro div.column_left {
    float: left;
    width: 45%;
}

form.form_cadastro div.address_data {
    float: right;
    width: 45%;
}

form.form_cadastro label {
    margin: 0;
}

form.form_cadastro input {
    color: var(--red-dark);
    outline: 0;
    border: none;
    border-bottom: 2px solid var(--red-dark);
    transition: all .3S ease-in-out;
}

form.form_cadastro input:focus {
    background-color: rgba(133, 133, 133, 0.15);
}

select#id_empresa {
    border-radius: 20px;
    padding: 5px;
    border: 2px solid var(--red-dark);
    color: #FFF;
    background-color: var(--red-dark);
    cursor: pointer;
    transition: all .3s ease-in-out;
}

select option {
    background-color: var(--red-dark);
    color: #FFF;
    cursor: pointer;
    transition: all .3s ease-in-out;
}

select option:hover {
    background-color: #FFF;
    color: var(--red-dark);
}

form.form_cadastro p {
    display: flex;
    flex-direction: column;
    margin: 5px 0;
}

.icon-eye {
    padding: 0 2px;
    position: absolute;
    transform: translateY(30px);
    cursor: pointer;
    right: 0;
    background-color: #FFF;
    display: flex;
}

.icon-eye:hover {
    color: var(--red-light);
}

small#cpfTeste, small#cepTesteUser, small#cepTesteEmp, small#cnpjTeste {
    font-size: 10pt;
}

label.label_foto {
    text-transform: uppercase;
    font-size: clamp(8pt, 14pt);
    width: 100%;
    text-align: center;
    padding: 10px;
    background-color: var(--red-dark);
    color: #FFF;
    border-radius: 40px;
    border: 2px solid var(--red-dark);
    cursor: pointer;
    transition: all .3s ease-in-out;
}

label.label_foto:hover {
    background-color: #FFF;
    color: var(--red-dark);
}

p.p_btn_cadastrar {
    width: 100%;
}

p input.btn_form, button {
    margin-top: 1.5em;
    padding: 10px 20px;
    border: none;
    border-radius: 30px;
    background-color: var(--red-dark);
    color: #FFF;
    cursor: pointer;
    transition: all .3s ease-in-out;
}

p input.btn_form:hover, button:hover {
    background-color: var(--red-light);
    transform: scale(1.1);
    box-shadow: 1px 6px 8px var(--red-dark);
}

p button {
    margin-right: 1em;
    display: none;
}

.cadastro_user_hidden {
    display: none !important;
}

.cadastro_emp_active {
    display: flex !important;
}

.back_index_right {
    right: 0;
    transform: rotate(180deg);
    border-radius: 0 !important;
    border-top-right-radius: 40px !important;
    border-bottom-left-radius: 40px !important;
}

/* Media Queries */

@media screen and (max-width: 991px){
    div#form_login {
        width: 60dvw;
    }

    form#form input {
        width: 40dvw;
    }

    input#btn_login {
        font-size: larger;
        width: 15dvw !important;
    }

    img#img_logo {
        width: 40dvw;
    }

    div#infos {
        border-right: none;
        border-left: none;
        border-top: 3px solid var(--red-dark);
        border-bottom: 3px solid var(--red-dark);
    }

    div#menu_hamburguer {
        transform: translateX(0);
    }

    /* Cadastro */
    form.form_cadastro {
        padding: 0 3em;
    }
}

@media screen and (max-width: 768px){
    .line {
        display: none;
    }

    h1.h1_sections {
        border-bottom: 3px solid var(--red-dark);
        padding-bottom: 1em;
    }

    /* Navbar hamburguer */

    nav#navbar {
        padding: 0 2em;
    }

    div#menu_hamburguer {
        background-color: #FFF;
        top: 5em;
        right: 0;
        flex-direction: column;
        justify-content: start;
        box-shadow: -1px 24px 8px var(--red-dark);
        transform: translateX(200%);
        position: fixed;
        height: 100dvh;
    }

    i.icon_menu {
        color: var(--red-dark);
        cursor: pointer;
        font-size: 20pt;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    nav#navbar ul {
        padding: 0 2em;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    nav#navbar li {
        display: block;
        margin: 10px 0;
    }

    /* Cadastro */
    main#main_cadastro {
        flex-direction: column;
    }

    div#seta_index {
        width: 100%;
        height: 10%;
        background-color: rgba(0, 0, 0, 0);
        backdrop-filter: blur(0);
        border-radius: 40px;
        z-index: 1000;
    }

    div.cadastro {
        border-radius: 40px !important;
    }

    div#call_another_form {
        display: none;
    }

    form.form_cadastro {
        padding: 0 1.5em;
    }

    form.form_cadastro div.column_left {
        width: 48%;
    }
    
    form.form_cadastro div.address_data {
        width: 48%;
    }

    p button {
        display: flex;
    }
}

@media screen and (max-width: 758px){
    /* Login */

    div#form_login {
        width: 90dvw;
        height: 60dvh;
    }

    form#form input {
        width: 50dvw;
    }

    input#btn_login {
        font-size: larger;
        width: 20dvw !important;
    }

    img#img_logo {
        width: 55dvw;
    }
}