@charset "UTF-8";

/* Variáveis */

:root {
    --red-dark: rgb(90, 0, 0);
    --red-light: rgb(148, 0, 0);
}

/* General */

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Navbar */

nav#navbar {
    width: 100%;
    position: fixed;
    box-shadow: 0px .5px 10px var(--red-dark);
    z-index: 1001;
    background-color: #fff;
}

nav#navbar ul {
    list-style: none;
    text-transform: uppercase;
    padding: 0;
    margin: 3em 0;
}

nav#navbar li {
    position: relative;
    display: inline-block;
    padding: 5px 15px;
    color: var(--red-dark);
    border: none;
    cursor: pointer;
}

nav#navbar li:hover {
    color: var(--red-light);
}

nav#navbar li:after {
    content: "";
    position: absolute;
    height: 3px;
    width: 0;
    background: var(--red-light);
    left: 0;
    bottom: -3px;
    transition: .5s;
}

nav#navbar li:hover:after {
    width: 100%;
}

nav#navbar li.active:after {
    width: 100%;
    background-color: var(--red-dark);
}

nav#navbar li.active:hover {
    color: var(--red-dark);
}

/* Body do site */

html {
    width: 100%;
    height: 100%;
}

body#full_content_login {
    width: 100%;
    height: 100%;
    background: url('../_images/fundo.jpeg') no-repeat 50% 50%;
    background-size: cover;
    backdrop-filter: blur(5px);
}

/* Main da página Index */

main#main_index {
    float: right;
    margin-top: 14em;
    flex-wrap: wrap;
}

div.card_user {
    margin: 4em 1em;
    box-shadow: 0 4px 10px var(--red-dark);
    border-radius: 30px;
    position: relative;
}

.back_card {
    animation: back_card .3s ease-in;
    animation-fill-mode: forwards;
}

.transition_card {
    animation: transition_card .3s ease-in;
    animation-fill-mode: forwards;
}

@keyframes transition_card {
    0% { transform: scale(1); box-shadow: 0 4px 10px var(--red-dark); }
    100% { transform: scale(1.1); box-shadow: 0 8px 18px var(--red-dark); }
}

@keyframes back_card {
    0% { transform: scale(1.1); box-shadow: 0 8px 18px var(--red-dark); }
    100% { transform: scale(1); box-shadow: 0 4px 10px var(--red-dark); }
}

img.img_user_emp {
    position: absolute;
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    top: 0;
    transform: translateY(-70%);
}

div.card_user_body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Aside da Index */

aside#aside_index {
    top: 8em;
    position: fixed;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right: 1px solid var(--red-dark);
}

aside#aside_index div {
    margin-top: 2em;
    width: 100%;
    padding: 10px 5px;
    border-bottom: 1px solid var(--red-dark);
    color: var(--red-dark);
}

aside#aside_index div h1 {
    text-transform: uppercase;
    text-align: center;
    font-size: clamp(10pt, 2dvw, 20pt);
    margin-right: .7em;
}

aside#aside_index div i {
    width: 10px;
}

aside ul#lst_filtros {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    text-transform: uppercase;
    padding: 0;
}

aside#aside_index ul li {
    padding: 10px 5px;
    color: var(--red-dark);
    border-bottom: 1px solid var(--red-dark);
    cursor: pointer;
    transition: all .2s ease-in-out;
    width: 100%;
    text-align: center;
}

aside#aside_index ul li:hover {
    color: var(--red-light);
    border-bottom: 1px solid var(--red-light);
}

.active_filtro {
    border-bottom: 3px solid var(--red-dark) !important;
    font-weight: 600;
    transition: all .2s ease-in-out;
}

.active_filtro:hover {
    border-bottom: 3px solid var(--red-dark) !important;
    color: var(--red-dark) !important;
}

/* Btn adicionar */

a#btn_adicionar {
    border-radius: 50%;
    width: 70px;
    height: 70px;
    position: fixed;
    z-index: 1002;
    bottom: .7em;
    right: .7em;
    background-color: var(--red-dark);
    color: #FFF;
    transition: all .3s ease-in-out;
}

a#btn_adicionar:hover {
    background-color: var(--red-light);
    text-decoration: none;
    transform: scale(1.1);
}

i#add_symbol {
    font-size: 25px;
    font-weight: 900;
}

/* Main da página de Login */

main#main_login {
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, .9);
}

h1#title_login {
    font-size: clamp(28px, 4dvw, 44px);
    color: var(--red-light);
    font-weight: 600;
}

div#form_login {
    box-shadow: 0 6px 26px 0 var(--red-dark);
    position: relative;
    width: 35dvw;
    height: 70dvh;
    border-radius: 50px;
    flex-direction: column;
}

form#form div {
    margin: .6em;
}

#user_field, #password_field {
    display: flex;
    flex-direction: column;
}

#password_field label, #user_field label {
    font-size: clamp(16px, 4dvw, 20px);
    color: var(--red-light);
    transform: translateY(30px);
}

.transition_text {
    animation: transition_text .2s linear;
    animation-fill-mode: forwards;
}

@keyframes transition_text {
    0% { transform: translateY(30px); }
    50% { transform: translateY(15px); }
    100% { transform: translateY(0); }
}

.back_text {
    animation: back_text .2s linear;
    animation-fill-mode: forwards;
}

@keyframes back_text {
    0% { transform: translateY(0); }
    50% { transform: translateY(15px); }
    100% { transform: translateY(30px); }
}

form#form input {
    width: 25dvw;
    z-index: 1001;
    color: var(--red-light);
    background-color: transparent;
    border: none;
    border-bottom: 3px solid var(--red-light);
    outline: 0;
}

form#form input::-ms-reveal, form#form input::-ms-clear {
    display: none;
}

i.icons {
    float: right;
    transform: translateY(-33px);
    transition: color .2s ease-in;
    color: var(--red-light);
}

i.eye-password {
    cursor: pointer;
}

i.eye-password:hover {
    color: var(--red-dark);
}

input#btn_login {
    box-shadow: 1px 1px 5px #000;
    width: 10dvw !important;
    cursor: pointer;
    color: #fff !important;
    background-color: var(--red-light) !important;
    padding: 5px;
    border: none !important;
    border-radius: 10px;
    transition: background-color .2s ease-in;
}

input#btn_login:hover {
    background-color: var(--red-dark) !important;
}

/* details#details_login {
    margin-top: 1em;
    display: flex;
    color: var(--red-dark);
} */

img#img_logo {
    z-index: -1;
    position: absolute;
    width: 30dvw;
    transform: rotate(-15deg);
    animation: rodaroda 20s linear infinite;
}

@keyframes rodaroda {
	0% { -webkit-transform:rotate(0deg); -moz-transform:rotate(0deg); -ms-transform:rotate(0deg); -o-transform:rotate(0deg); transform:rotate(0deg); }
	50% { -webkit-transform:rotate(180deg); -moz-transform:rotate(180deg); -ms-transform:rotate(180deg); -o-transform:rotate(180deg); transform:rotate(180deg); }
	100% { -webkit-transform:rotate(360deg); -moz-transform:rotate(360deg); -ms-transform:rotate(360deg); -o-transform:rotate(360deg); transform:rotate(360deg); }
}

/* Media Queries */

@media screen and (max-width: 1024px){
    div#form_login {
        width: 60dvw;
    }

    form#form input {
        width: 40dvw;
    }

    input#btn_login {
        font-size: larger;
        width: 15dvw !important;
    }

    img#img_logo {
        width: 40dvw;
    }
}

@media screen and (max-width: 758px){
    div#form_login {
        width: 90dvw;
        height: 60dvh;
    }

    form#form input {
        width: 50dvw;
    }

    input#btn_login {
        font-size: larger;
        width: 20dvw !important;
    }

    img#img_logo {
        width: 55dvw;
    }
}